body{
    display: grid;
    grid-template-areas: 'navbar'
                          'banner'
                          'main'
                          'section'
                          'footer';
    grid-template-columns: 100vw;
    margin: 0;
}

span{
    background-color: #30cb70;
    height:  10px;
    display: flex;
    grid-area: navbar;
}

nav{
    align-items: center;
    background-image: url(../images/banner.png);
    background-size: cover;
    grid-area: navbar;
    height: 200px;
    margin: 10px 0;
    padding: 0 10px;
}

nav div{
    display: inline;
    flex-direction: row;
}   

nav h1{
    color: white;
}

nav .mao{
    align-self: top;
    mask-image: initial;
}

nav p{
    color: white;
}