body{
    display: grid;
    grid-template-areas: 'navbar' 
                          'banner' 
                          'main'
                          'video' 
                          'section'
                          'footer';
    grid-template-columns: 100vw;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar{ 
    width: 0px; /*remove scrollbar space */ 
    background: transparent;
}

header .headitens{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body span {
    background-color: #2ccc6d;
    height:  10px;
    display: flex;
    grid-area: navbar;
}

.circle{
    background-color: #2ccc6d;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
   
}

.circle2{
    flex-direction: row;
    background-color: #2ccc6d;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.circle3{
    background-color:#2ccc6d;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.circle:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: rgb(22, 22, 22);
}
.circle2:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: rgb(22, 22, 22);
}
.circle3:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: rgb(22, 22, 22);
}

.circle5{
    background-color: rgb(22, 22, 22);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    float: left;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.circle7{
    background-color: rgb(22, 22, 22);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.circle8{
    background-color: rgb(22, 22, 22);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.circle5:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    background-color: #2ccc6d;
}
.circle7:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    background-color: #2ccc6d;
}
.circle8:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    background-color: #2ccc6d;
}

footer{
    align-items: center;
    background-color: rgb(189, 189, 189);
    background-size: cover;
    display: flex;
    flex-direction: column;
    grid-area: footer;
    height: 120px;
    justify-content: space-between;
    padding: 10px;
}

footer a{
    text-decoration: none;
    color: rgb(126, 123, 123);
    cursor: pointer;
}

header {
    text-align: center;
    display: flex;
    grid-area: banner;
    justify-content: space-between;
    padding: 40px;
    flex-direction: column;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}   

header p{
    color: rgb(107, 107, 107);
}

<<<<<<< HEAD
img .a{
    display: block;
    float: left;
    width: 120px;
=======
.mao{
    display: none;
>>>>>>> a85e4154f502021e87e69d516562b63006916805
}
nav{
    align-items: center;
    background-image: url(../images/banner.png);
    grid-area: navbar;
    height: 250px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#nava {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    float: left;
}



nav h1{
    color: white;
    font-family: 'Pacifico', cursive;
    text-align: left;
    padding: 0 60px;
}

nav p{
    color: white;
    padding: 0 60px;
}

main {
    grid-area: main;
    background-color: rgb(189, 189, 189);
    height: 380px;
    padding: 15px;
    display: flex;
}

main p {
    color: rgb(107, 107, 107);
}

main iframe{
    position: center;
    padding: 20px;
    display: flex;
    align-items: center;    
}

input{
    border: none;
    height: 40px;
    background-image: linear-gradient(90deg, #2ccc6d 39%, rgb(103, 192, 30) 100%);
}

.email {
    border: none;
    display: flex;
    justify-content: center;
}


section {
    grid-area: video;
    text-align: center;
    padding: 15px;
}

section .paragrafomid{
    color: rgb(107, 107, 107);
}

section p{
    color: rgb(107, 107, 107);
}

section .circulo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    float: none;
    
}


.circulo1{
    background-color: #2ccc6d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.circulo2{
    flex-direction: row;
    background-color: #2ccc6d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.circulo3{
    background-color: #2ccc6d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.circulo4{
    background-color: #2ccc6d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.circulo5{
    background-color: #2ccc6d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.circulo6{
    background-color: #2ccc6d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

nav .hackvideo{
    display: none;
}

@media(min-width:683px){
    main{
        display:flex;
        
    }

    .hackvideo{
        display: none;
    }
    .hackvideo2{
        display: none;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        position: right;

    }

    header .headitens{
        flex-direction: row;
        justify-content: space-evenly;
    }
    header{
        height: 270px;
    }

    footer {
        flex-direction: row;
        justify-content: space-evenly;
        height: 50px;
    }
    nav h1{
        width: 90px;
    }
    nav p{
        width: 200px;

}

@media(min-width:873px){
    .mao{
        display:flex;
        height: 270px;
        width: 290px;
        padding: 180px;
    }
    
}