body{
    display: grid;
    grid-template-areas: 'navbar'
                          'banner'
                          'main'
                          'section'
                          'footer';
    grid-template-columns: 100vw;
    margin: 0;
}

